html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
}

.page-title {
  text-align: center;
  font-weight: 300;
  background-color: RGB(42,110,187);
}

.page-introduction {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
}
